<?xml version="1.0"?>
<!--
/**
 * @author SpadeWorx Team
 * @copyright Copyright (c) 2019 Redington
 * @package Redington_Quotation
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Redington_Quotation::config_redington_quotation" title="Redington Quotation Section" translate="title" >                
            </resource>
        </resources>
    </acl>
</config>
