<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add action="approval/address/index" id="Redington_AddressApproval::address_index" module="Redington_AddressApproval" parent="Redington::menu" resource="Redington_AddressApproval::address_index" title="Address Approvals"/>
		<add action="approval/forwarder/index" id="Redington_AddressApproval::forwarder_index" module="Redington_AddressApproval" parent="Redington::menu" resource="Redington_AddressApproval::forwarder_index" title="Forwarder Approvals"/>
	</menu>
</config>
