<?xml version="1.0"?>
<!--
/**
 * @author SpadeWorx Team
 * @copyright Copyright (c) 2019 Redington
 * @package Redington_AddressApproval
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="credit_approval_listing_data_source" xsi:type="string">Redington\Transactions\Model\ResourceModel\Credit\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Redington\Transactions\Model\ResourceModel\Credit\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
    <arguments>
        <argument name="mainTable" xsi:type="string">redington_credit</argument>
        <argument name="resourceModel" xsi:type="string">Redington\Transactions\Model\ResourceModel\Credit</argument>
    </arguments>
</virtualType>
</config>
