<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Customer\Ui\Component\Listing\Column\Actions" type="Redington\Customer\Ui\Component\Listings\Column\Actions" />
	<preference for="Magento\Customer\Block\Adminhtml\Edit\Tab\View\PersonalInfo" type="Redington\Customer\Block\Adminhtml\Edit\Tab\View\PersonalInfo" />
</config>