<?xml version="1.0" ?>
<!--
/**
 * Copyright © Redington. All rights reserved.
 * 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add action="companylogo/address/index" id="Redington_CompanyLogo::companylogo" sortOrder="110" module="Redington_CompanyLogo" parent="Redington::menu" resource="Redington_CompanyLogo::companylogo" title="Company Addresses"/>
	</menu>
</config>
