<?xml version="1.0" ?>
<!--
/**
 * @author SpadeWorx Team
 * @copyright Copyright (c) 2019 Redington
 * @package Redington_Customer
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Redington_Customer" setup_version="1.0.1">
        <sequence>            
            <module name="Magento_Customer"/>
        </sequence>
    </module>
</config>
