<?xml version="1.0"?>
<!--
/**
 * @author SpadeWorx Team
 * @copyright Copyright (c) 2019 Redington
 * @package Redington_Catalog
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <redington_catalog>
            <general>
                <enabled>1</enabled> 
                <enabled_periodicity>1</enabled_periodicity>               
            </general>            
        </redington_catalog>
    </default>
</config>
