<?xml version="1.0"?>
<!--
/**
 * @author SpadeWorx Team
 * @copyright Copyright (c) 2019 Redington
 * @package Redington_Quotation
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="redington" translate="label" sortOrder="200">
            <label>Redington</label>
        </tab>
        <section id="redington_quotation" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Quotation</label>
            <tab>redington</tab>
            <resource>Redington_Quotation::config_redington_quotation</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Quotation Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>                     
                 <field id="numberrange" translate="label comment" type="text" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Quotation Number Range</label>
					<validate>validate-number</validate>
                </field> 
				<field id="send_action" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Quote Create template for partner</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
			 
        </section>
    </system>
</config>