<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add action="approval/credit/index" id="Redington_Transactions::credit_index" module="Redington_Transactions" parent="Redington::menu" resource="Redington_Transactions::credit_index" title="Credit Approvals"/>
	</menu>
</config>
