<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Sm\Market\Helper\Data" type="Redington\Market\Helper\Configdata" />
	<preference for="Amasty\Checkout\Helper\Onepage" type="Redington\Market\Helper\Onepage" />
</config>
