<?xml version="1.0" ?>
<!--
/**
 * @author SpadeWorx Team
 * @copyright Copyright (c) 2019 Redington
 * @package Redington_Market
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Redington_Market" setup_version="1.0.0">
        <sequence>            
            <module name="Sm_Market"/>
        </sequence>
    </module>
</config>
